In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import random
df_sp = pd.read_csv(r'F:\Abhilah_First\Results\Observed_T\noised_stake_data.csv')
df_sp.head()

,Unnamed: 0,Julian Day,obs_period(days),elevation(m),Derbis thickness (cm),melt (cm),pdd,Model-1 Melt Rate (cm/day),Model-2 Melt Rate (cm/day),Model-3 Melt Rate (cm/day)
0,0,232,17,3868.0,114.408865,12.014427,186.223127,1.053839,0.521375,0.642001
1,1,250,18,3867.0,117.206214,5.451106,155.479642,0.823540,0.402203,0.498123
2,2,263,13,3867.0,115.431881,4.616733,110.065334,0.811816,0.399730,0.493257
3,3,273,10,3868.0,113.276018,7.117615,79.202456,0.764781,0.380382,0.467283
4,4,298,25,3868.0,113.806403,4.316599,129.013577,0.497438,0.246796,0.303515

In [17]:
df_model2_param = pd.read_csv(r'F:\Abhilah_First\Results\Observed_T\Model2param.csv')
df_model2_param

,Unnamed: 0,DDF,Uncertainty of DDF,d0,Uncertainty of d0,RMSE
0,0,5.089617,0.248659,11.80264,1.188937,0.590212

In [18]:
ddf_noised = [] # 1000 ddf
d0_noised = [] #1000 d0
for i in range(1000):
    ddf_noised.append(df_model2_param['DDF'][0] + random.uniform(-df_model2_param['Uncertainty of DDF'][0],df_model2_param['Uncertainty of DDF'][0]))
    d0_noised.append(df_model2_param['d0'][0] + random.uniform(-df_model2_param['Uncertainty of d0'][0],df_model2_param['Uncertainty of d0'][0]))
df_all_iterations = pd.DataFrame(ddf_noised, columns = ['DDF'])
df_all_iterations['d0'] = d0_noised
MSEs = [] # it has all the Mean sq errors for each  TF1 and TF2
weight = []
observed_melt_rate = [] #cm/day
pdd = list(df_sp['pdd'])
db_thickness = list(df_sp['Derbis thickness (cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt (cm)']):
    observed_melt_rate.append(m/ob)
    
for ddf, d0 in zip(ddf_noised, d0_noised):
    model_melt_rate_sqd = []
    for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
        model_melt_rate_sqd.append((mr - ddf*p/(1+db/d0)/10/ob)**2)
    MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
    weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
df_all_iterations['MSE'] = MSEs
df_all_iterations['Weight'] = weight
df_all_iterations

          DDF         d0       MSE    Weight
0    4.847617  12.440808  0.350389  0.704414
1    4.880143  11.725649  0.352897  0.702649
2    5.152323  12.258919  0.350215  0.704537
3    4.986950  12.186416  0.348730  0.705584
4    5.016998  12.722106  0.349824  0.704812
..        ...        ...       ...       ...
995  5.123830  12.662985  0.351959  0.703309
996  4.932922  11.384714  0.353405  0.702293
997  5.325067  11.122656  0.348897  0.705466
998  5.139811  11.526099  0.348305  0.705884
999  5.177069  12.594886  0.353288  0.702375

[1000 rows x 4 columns]

In [19]:
df_all_iterations['DDF*Weight'] = df_all_iterations['DDF']*df_all_iterations['Weight']
df_all_iterations['d0*Weight'] = df_all_iterations['d0']*df_all_iterations['Weight']

df_all_iterations['Weight*(DDF - xBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['DDF'] - sum(df_all_iterations['DDF*Weight']/1000) )**2
df_all_iterations['Weight*(d0 - yBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['d0'] - sum(df_all_iterations['d0*Weight']/1000) )**2

df_all_iterations

,DDF,d0,MSE,Weight,DDF*Weight,d0*Weight,Weight*(DDF - xBARw)^2,Weight*(d0 - yBARw)^2
0,4.847617,12.440808,0.350389,0.704414,3.414730,8.763482,1.133577,12.004254
1,4.880143,11.725649,0.352897,0.702649,3.429028,8.239018,1.189464,8.184726
2,5.152323,12.258919,0.350215,0.704537,3.630001,8.636858,1.743850,10.971630
3,4.986950,12.186416,0.348730,0.705584,3.518711,8.598538,1.398586,10.587891
4,5.016998,12.722106,0.349824,0.704812,3.536041,8.966694,1.457325,13.703714
...,...,...,...,...,...,...,...,...
995,5.123830,12.662985,0.351959,0.703309,3.603634,8.905986,1.678327,13.310247
996,4.932922,11.384714,0.353405,0.702293,3.464355,7.995402,1.287271,6.627829
997,5.325067,11.122656,0.348897,0.705466,3.756653,7.846654,2.150653,5.570348
998,5.139811,11.526099,0.348305,0.705884,3.628109,8.136086,1.719504,7.289016
999,5.177069,12.594886,0.353288,0.702375,3.636244,8.846334,1.793619,12.879677

In [20]:
ddf_variability = (sum(df_all_iterations['Weight*(DDF - xBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)


d0_variability = (sum(df_all_iterations['Weight*(d0 - yBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

print(df_all_iterations['DDF'][MSEs.index(min(MSEs))], df_all_iterations['d0'][MSEs.index(min(MSEs))])
print(round(ddf_variability,2), round(d0_variability,2))

5.1574629837256944 11.529908590275296
0.05 0.11