In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [2]:
df_sp = pd.read_csv(r'C:\Users\Abhilash Mittal\Desktop\All_T_data\SP_glacier_data.csv')
df_sp

,Year,Julian Day,obs_period(days),elevation(m),debris_thickness(cm),melt(cm),PDD
0,2017,232,17,3868,114.0,11.0,186.023187
1,2017,250,18,3867,114.0,8.0,155.240187
2,2017,263,13,3867,114.0,5.0,110.232967
3,2017,273,10,3868,114.0,7.0,78.934398
4,2017,298,25,3868,114.0,1.0,129.251789
...,...,...,...,...,...,...,...
319,2017,231,15,4367,28.0,25.5,126.115990
320,2017,246,15,4367,28.0,11.0,88.635096
321,2017,262,16,4367,28.0,11.0,79.024820
322,2017,274,12,4367,28.0,12.0,58.219871
323,2017,296,17,4424,12.0,6.0,34.934678

In [3]:
#model2
#using observation data
#DDF = 5.768
#d0 = 9.652

In [4]:
ddf_range = [] #it has a series of ddfs from 4 to 7 (0.05 interval)
d0_range = [] #it has a series of TF2s from 8 to 11 (0.05 interval)
for i in np.arange(4, 7, 0.05):
    ddf_range.append(round(i, 2))

for i in np.arange(8, 11, 0.05):
    d0_range.append(round(i, 2))

In [5]:
MSEs = [] # it has all the Mean sq errors for each  ddf and tf2
observed_melt_rate = [] #cm/day
pdd = list(df_sp['PDD'])
db_thickness = list(df_sp['debris_thickness(cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt(cm)']):
    observed_melt_rate.append(m/ob)
weight = [] #exp(-mse)
data = []  
for ddf in ddf_range:
    for d0 in d0_range:
        data1 = []
        model_melt_rate_sqd = []
        for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
            model_melt_rate_sqd.append((mr - ddf*p/(1 + db/d0)/10/ob)**2)
        MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
        weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
        data1.append(ddf)
        data1.append(d0)
        data1.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
        data.append(data1)
      
df_all_iterations = pd.DataFrame(data, columns = ['DDF', 'd0', 'MSE'])
df_all_iterations['Weight'] = weight
df_all_iterations

       DDF     d0       MSE    Weight
0     4.00   8.00  0.585887  0.556612
1     4.00   8.05  0.582579  0.558456
2     4.00   8.10  0.579308  0.560286
3     4.00   8.15  0.576073  0.562101
4     4.00   8.20  0.572874  0.563903
...    ...    ...       ...       ...
3595  6.95  10.75  0.469069  0.625585
3596  6.95  10.80  0.472660  0.623342
3597  6.95  10.85  0.476278  0.621091
3598  6.95  10.90  0.479923  0.618831
3599  6.95  10.95  0.483593  0.616564

[3600 rows x 4 columns]

In [11]:
count = 0
for i in weight:
    if i <= 0.1:
        count +=1
max(weight)

0.7402062807386045

In [54]:
#df_all_iterations.to_csv(r'C:\Users\Abhilash Mittal\Desktop\All_T_data\Model1_observed_T_Uncertainity.csv')

In [ ]:
#number of non-zero weights is 3600-195 = 3405

In [52]:
#Weighted SD for DDF is

In [12]:
df_all_iterations['DDF*Weight'] = df_all_iterations['DDF']*df_all_iterations['Weight']
df_all_iterations['d0*Weight'] = df_all_iterations['d0']*df_all_iterations['Weight']

df_all_iterations['Weight*(DDF - xBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['DDF'] - sum(df_all_iterations['DDF*Weight']/3600) )**2
df_all_iterations['Weight*(d0 - yBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['d0'] - sum(df_all_iterations['d0*Weight']/3600) )**2

df_all_iterations

,DDF,d0,MSE,Weight,DDF*Weight,d0*Weight,Weight*(DDF - xBARw)^2,Weight*(d0 - yBARw)^2
0,4.00,8.00,0.585887,0.556612,2.226448,4.452896,0.012793,1.045295
1,4.00,8.05,0.582579,0.558456,2.233825,4.495572,0.012835,1.126685
2,4.00,8.10,0.579308,0.560286,2.241144,4.538316,0.012877,1.211360
3,4.00,8.15,0.576073,0.562101,2.248406,4.581127,0.012919,1.299341
4,4.00,8.20,0.572874,0.563903,2.255611,4.624002,0.012960,1.390649
...,...,...,...,...,...,...,...,...
3595,6.95,10.75,0.469069,0.625585,4.347813,6.725035,6.018083,10.620919
3596,6.95,10.80,0.472660,0.623342,4.332226,6.732092,5.996508,10.841241
3597,6.95,10.85,0.476278,0.621091,4.316579,6.738832,5.974851,11.062658
3598,6.95,10.90,0.479923,0.618831,4.300876,6.745259,5.953115,11.285132
3599,6.95,10.95,0.483593,0.616564,4.285119,6.751375,5.931305,11.508625

In [13]:
ddf_variability = (sum(df_all_iterations['Weight*(DDF - xBARw)^2'])*3600/(3600*(3600-1)*sum(df_all_iterations['Weight'])) )**(0.5)


d0_variability = (sum(df_all_iterations['Weight*(d0 - yBARw)^2'])*3600/(3600*(3600-1)*sum(df_all_iterations['Weight'])) )**(0.5)


print(round(ddf_variability,2), round(d0_variability,2))

0.03 0.05

In [20]:
print(df_all_iterations['DDF'][MSEs.index(min(MSEs))], df_all_iterations['d0'][MSEs.index(min(MSEs))])

5.85 9.25