In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import random

In [2]:
df_sp = pd.read_csv(r'F:\Abhilah_First\Results\Era5Land\noised_stake_data.csv')
df_sp.head()

,Unnamed: 0,Julian Day,obs_period(days),elevation(m),Derbis thickness (cm),melt (cm),pdd,Model-1 Melt Rate (cm/day),Model-2 Melt Rate (cm/day),Model-3 Melt Rate (cm/day)
0,0,232,17,3868.0,112.008661,10.611894,178.293135,1.033360,0.529135,0.533741
1,1,250,18,3867.0,112.177121,4.893602,152.073862,0.832431,0.426249,0.429959
2,2,263,13,3867.0,111.830956,6.175991,100.823770,0.764162,0.391292,0.394698
3,3,273,10,3868.0,116.595735,7.100643,72.487570,0.714216,0.365716,0.368900
4,4,298,25,3868.0,115.810743,1.083765,131.205050,0.517102,0.264784,0.267089

In [3]:
df_model1_param = pd.read_csv(r'F:\Abhilah_First\Results\Era5Land\Model1param.csv')
df_model1_param

,Unnamed: 0,TF1,Uncertainty of TF1,TF2,Uncertainty of TF2,RMSE
0,0,5.628151,0.285621,-0.367931,0.01987,0.609293

In [4]:
TF1_noised = [] # 1000 TF1
TF2_noised = [] #1000 TF2
for i in range(1000):
    TF1_noised.append(df_model1_param['TF1'][0] + random.uniform(-df_model1_param['Uncertainty of TF1'][0],df_model1_param['Uncertainty of TF1'][0]))
    TF2_noised.append(df_model1_param['TF2'][0] + random.uniform(-df_model1_param['Uncertainty of TF2'][0],df_model1_param['Uncertainty of TF2'][0]))
df_all_iterations = pd.DataFrame(TF1_noised, columns = ['TF1'])
df_all_iterations['TF2'] = TF2_noised
MSEs = [] # it has all the Mean sq errors for each  TF1 and TF2
weight = []
observed_melt_rate = [] #cm/day
pdd = list(df_sp['pdd'])
db_thickness = list(df_sp['Derbis thickness (cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt (cm)']):
    observed_melt_rate.append(m/ob)
    
for tf1, tf2 in zip(TF1_noised, TF2_noised):
    model_melt_rate_sqd = []
    for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
        model_melt_rate_sqd.append((mr - tf1*p*db**tf2/10/ob)**2)
    MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
    weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
df_all_iterations['MSE'] = MSEs
df_all_iterations['Weight'] = weight
df_all_iterations

          TF1       TF2       MSE    Weight
0    5.687188 -0.366799  0.424419  0.654150
1    5.814728 -0.386211  0.423911  0.654482
2    5.437657 -0.385948  0.434368  0.647674
3    5.801877 -0.381638  0.423565  0.654709
4    5.447450 -0.362110  0.425125  0.653688
..        ...       ...       ...       ...
995  5.843383 -0.375862  0.424382  0.654174
996  5.837351 -0.351327  0.439320  0.644474
997  5.766265 -0.386493  0.424394  0.654166
998  5.717012 -0.363654  0.425815  0.653237
999  5.877215 -0.360021  0.433397  0.648303

[1000 rows x 4 columns]

In [5]:
print(min(weight), max(weight))
count = 0
for i in weight:
    if i <= 0.645:
        count +=1
print('count: ', count) 
# there is no zero weight, number of non zero weights is 1000

0.6405215818280648 0.6547376858391081
count:  32

In [6]:
df_all_iterations['TF1*Weight'] = df_all_iterations['TF1']*df_all_iterations['Weight']
df_all_iterations['TF2*Weight'] = df_all_iterations['TF2']*df_all_iterations['Weight']

df_all_iterations['Weight*(TF1 - xBARw)^2'] = df_all_iterations['Weight']*((df_all_iterations['TF1'] - sum(df_all_iterations['TF1*Weight']/1000) )**2)
df_all_iterations['Weight*(TF2 - yBARw)^2'] = df_all_iterations['Weight']*((df_all_iterations['TF2'] - sum(df_all_iterations['TF2*Weight']/1000) )**2)

df_all_iterations

,TF1,TF2,MSE,Weight,TF1*Weight,TF2*Weight,Weight*(TF1 - xBARw)^2,Weight*(TF2 - yBARw)^2
0,5.687188,-0.366799,0.424419,0.654150,3.720273,-0.239941,2.666755,0.010521
1,5.814728,-0.386211,0.423911,0.654482,3.805635,-0.252768,3.015831,0.013995
2,5.437657,-0.385948,0.434368,0.647674,3.521829,-0.249969,2.028060,0.013800
3,5.801877,-0.381638,0.423565,0.654709,3.798540,-0.249862,2.980863,0.013138
4,5.447450,-0.362110,0.425125,0.653688,3.560933,-0.236707,2.069609,0.009750
...,...,...,...,...,...,...,...,...
995,5.843383,-0.375862,0.424382,0.654174,3.822590,-0.245879,3.095428,0.012079
996,5.837351,-0.351327,0.439320,0.644474,3.762023,-0.226421,3.032641,0.007990
997,5.766265,-0.386493,0.424394,0.654166,3.772097,-0.252830,2.879806,0.014042
998,5.717012,-0.363654,0.425815,0.653237,3.734565,-0.237553,2.742288,0.009991
999,5.877215,-0.360021,0.433397,0.648303,3.810218,-0.233403,3.163813,0.009342

In [7]:
TF1_variability = (sum(df_all_iterations['Weight*(TF1 - xBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)


TF2_variability = (sum(df_all_iterations['Weight*(TF2 - yBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

print(df_all_iterations['TF1'][MSEs.index(min(MSEs))], df_all_iterations['TF2'][MSEs.index(min(MSEs))])
print(round(TF1_variability,3), round(TF2_variability,3))

5.758492497212591 -0.37866953557262634
0.062 0.004