In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import random
df_sp = pd.read_csv(r'F:\Abhilah_First\Results\Era5Land\noised_stake_data.csv')
df_sp.head()

,Unnamed: 0,Julian Day,obs_period(days),elevation(m),Derbis thickness (cm),melt (cm),pdd,Model-1 Melt Rate (cm/day),Model-2 Melt Rate (cm/day),Model-3 Melt Rate (cm/day)
0,0,232,17,3868.0,112.008661,10.611894,178.293135,1.033360,0.529135,0.533741
1,1,250,18,3867.0,112.177121,4.893602,152.073862,0.832431,0.426249,0.429959
2,2,263,13,3867.0,111.830956,6.175991,100.823770,0.764162,0.391292,0.394698
3,3,273,10,3868.0,116.595735,7.100643,72.487570,0.714216,0.365716,0.368900
4,4,298,25,3868.0,115.810743,1.083765,131.205050,0.517102,0.264784,0.267089

In [2]:
df_model2_param = pd.read_csv(r'F:\Abhilah_First\Results\Era5Land\Model2param.csv')
df_model2_param

,Unnamed: 0,DDF,Uncertainty of DDF,d0,Uncertainty of d0,RMSE
0,0,4.954541,0.243179,12.924807,1.321749,0.573611

In [3]:
ddf_noised = [] # 1000 ddf
d0_noised = [] #1000 d0
for i in range(1000):
    ddf_noised.append(df_model2_param['DDF'][0] + random.uniform(-df_model2_param['Uncertainty of DDF'][0],df_model2_param['Uncertainty of DDF'][0]))
    d0_noised.append(df_model2_param['d0'][0] + random.uniform(-df_model2_param['Uncertainty of d0'][0],df_model2_param['Uncertainty of d0'][0]))
df_all_iterations = pd.DataFrame(ddf_noised, columns = ['DDF'])
df_all_iterations['d0'] = d0_noised
MSEs = [] # it has all the Mean sq errors for each  TF1 and TF2
weight = []
observed_melt_rate = [] #cm/day
pdd = list(df_sp['pdd'])
db_thickness = list(df_sp['Derbis thickness (cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt (cm)']):
    observed_melt_rate.append(m/ob)
    
for ddf, d0 in zip(ddf_noised, d0_noised):
    model_melt_rate_sqd = []
    for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
        model_melt_rate_sqd.append((mr - ddf*p/(1+db/d0)/10/ob)**2)
    MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
    weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
df_all_iterations['MSE'] = MSEs
df_all_iterations['Weight'] = weight
df_all_iterations

          DDF         d0       MSE    Weight
0    4.780513  13.049711  0.356607  0.700047
1    5.057425  13.552611  0.358232  0.698911
2    4.746375  12.904914  0.358418  0.698781
3    4.919692  12.022177  0.357400  0.699493
4    5.130987  13.901064  0.364950  0.694231
..        ...        ...       ...       ...
995  4.808601  12.304061  0.359770  0.697837
996  4.799313  14.163072  0.356075  0.700420
997  5.080831  13.224250  0.356747  0.699949
998  5.107521  13.960495  0.364271  0.694703
999  5.192142  12.963050  0.358669  0.698605

[1000 rows x 4 columns]

In [4]:
df_all_iterations['DDF*Weight'] = df_all_iterations['DDF']*df_all_iterations['Weight']
df_all_iterations['d0*Weight'] = df_all_iterations['d0']*df_all_iterations['Weight']

df_all_iterations['Weight*(DDF - xBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['DDF'] - sum(df_all_iterations['DDF*Weight']/1000) )**2
df_all_iterations['Weight*(d0 - yBARw)^2'] = df_all_iterations['Weight']*(df_all_iterations['d0'] - sum(df_all_iterations['d0*Weight']/1000) )**2

df_all_iterations

,DDF,d0,MSE,Weight,DDF*Weight,d0*Weight,Weight*(DDF - xBARw)^2,Weight*(d0 - yBARw)^2
0,4.780513,13.049711,0.356607,0.700047,3.346585,9.135414,1.215058,11.216525
1,5.057425,13.552611,0.358232,0.698911,3.534691,9.472070,1.776631,14.188916
2,4.746375,12.904914,0.358418,0.698781,3.316678,9.017710,1.150820,10.400866
3,4.919692,12.022177,0.357400,0.699493,3.441288,8.409423,1.484166,6.192113
4,5.130987,13.901064,0.364950,0.694231,3.562092,9.650555,1.931337,16.358134
...,...,...,...,...,...,...,...,...
995,4.808601,12.304061,0.359770,0.697837,3.355620,8.586229,1.263419,7.403439
996,4.799313,14.163072,0.356075,0.700420,3.361534,9.920096,1.250649,18.333666
997,5.080831,13.224250,0.356747,0.699949,3.556323,9.256303,1.831892,12.214311
998,5.107521,13.960495,0.364271,0.694703,3.548211,9.698400,1.878650,16.772532
999,5.192142,12.963050,0.358669,0.698605,3.627258,9.056056,2.088635,10.713991

In [5]:
ddf_variability = (sum(df_all_iterations['Weight*(DDF - xBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)


d0_variability = (sum(df_all_iterations['Weight*(d0 - yBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

print(df_all_iterations['DDF'][MSEs.index(min(MSEs))], df_all_iterations['d0'][MSEs.index(min(MSEs))])
print(round(ddf_variability,2), round(d0_variability,2))

5.102184556518868 12.188941866401278
0.05 0.13