In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import random

In [2]:
df_sp = pd.read_csv(r'F:\Abhilah_First\Results\Observed_T\noised_stake_data.csv')
df_sp.head()

,Unnamed: 0,Julian Day,obs_period(days),elevation(m),Derbis thickness (cm),melt (cm),pdd,Model-1 Melt Rate (cm/day),Model-2 Melt Rate (cm/day),Model-3 Melt Rate (cm/day)
0,0,232,17,3868.0,114.408865,12.014427,186.223127,1.053839,0.521375,0.642001
1,1,250,18,3867.0,117.206214,5.451106,155.479642,0.823540,0.402203,0.498123
2,2,263,13,3867.0,115.431881,4.616733,110.065334,0.811816,0.399730,0.493257
3,3,273,10,3868.0,113.276018,7.117615,79.202456,0.764781,0.380382,0.467283
4,4,298,25,3868.0,113.806403,4.316599,129.013577,0.497438,0.246796,0.303515

In [3]:
df_model1_param = pd.read_csv(r'F:\Abhilah_First\Results\Observed_T\Model1param.csv')
df_model1_param

,Unnamed: 0,TF1,Uncertainty of TF1,TF2,Uncertainty of TF2,RMSE
0,0,5.617523,0.251624,-0.372296,0.017687,0.64947

In [4]:
TF1_noised = [] # 1000 TF1
TF2_noised = [] #1000 TF2
for i in range(1000):
    TF1_noised.append(df_model1_param['TF1'][0] + random.uniform(-df_model1_param['Uncertainty of TF1'][0],df_model1_param['Uncertainty of TF1'][0]))
    TF2_noised.append(df_model1_param['TF2'][0] + random.uniform(-df_model1_param['Uncertainty of TF2'][0],df_model1_param['Uncertainty of TF2'][0]))
df_all_iterations = pd.DataFrame(TF1_noised, columns = ['TF1'])
df_all_iterations['TF2'] = TF2_noised
MSEs = [] # it has all the Mean sq errors for each  TF1 and TF2
weight = []
observed_melt_rate = [] #cm/day
pdd = list(df_sp['pdd'])
db_thickness = list(df_sp['Derbis thickness (cm)'])
ob_day = list(df_sp['obs_period(days)'])

for ob, m in zip(df_sp['obs_period(days)'], df_sp['melt (cm)']):
    observed_melt_rate.append(m/ob)
    
for tf1, tf2 in zip(TF1_noised, TF2_noised):
    model_melt_rate_sqd = []
    for ob,mr,p,db in zip(ob_day, observed_melt_rate, pdd, db_thickness):
        model_melt_rate_sqd.append((mr - tf1*p*db**tf2/10/ob)**2)
    MSEs.append(sum(model_melt_rate_sqd)/len(model_melt_rate_sqd))
    weight.append(math.exp(-sum(model_melt_rate_sqd)/len(model_melt_rate_sqd)))
df_all_iterations['MSE'] = MSEs
df_all_iterations['Weight'] = weight
df_all_iterations

          TF1       TF2       MSE    Weight
0    5.629572 -0.357425  0.426013  0.653108
1    5.483033 -0.389159  0.428084  0.651756
2    5.741351 -0.386070  0.424959  0.653797
3    5.464959 -0.386188  0.426665  0.652682
4    5.700862 -0.379498  0.423451  0.654783
..        ...       ...       ...       ...
995  5.537791 -0.357388  0.422527  0.655389
996  5.380141 -0.387667  0.430225  0.650363
997  5.738974 -0.387213  0.425191  0.653645
998  5.509192 -0.367876  0.420329  0.656830
999  5.412894 -0.371311  0.420886  0.656465

[1000 rows x 4 columns]

In [5]:
print(min(weight), max(weight))
count = 0
for i in weight:
    if i <= 0.655:
        count +=1
print('count: ', count) 
# there is no zero weight, number of non zero weights is 1000

0.6429684618208725 0.657537465448086
count:  626

In [6]:
df_all_iterations['TF1*Weight'] = df_all_iterations['TF1']*df_all_iterations['Weight']
df_all_iterations['TF2*Weight'] = df_all_iterations['TF2']*df_all_iterations['Weight']

df_all_iterations['Weight*(TF1 - xBARw)^2'] = df_all_iterations['Weight']*((df_all_iterations['TF1'] - sum(df_all_iterations['TF1*Weight']/1000) )**2)
df_all_iterations['Weight*(TF2 - yBARw)^2'] = df_all_iterations['Weight']*((df_all_iterations['TF2'] - sum(df_all_iterations['TF2*Weight']/1000) )**2)

df_all_iterations

,TF1,TF2,MSE,Weight,TF1*Weight,TF2*Weight,Weight*(TF1 - xBARw)^2,Weight*(TF2 - yBARw)^2
0,5.629572,-0.357425,0.426013,0.653108,3.676716,-0.233437,2.512154,0.008471
1,5.483033,-0.389159,0.428084,0.651756,3.573602,-0.253637,2.146325,0.013821
2,5.741351,-0.386070,0.424959,0.653797,3.753677,-0.252411,2.809630,0.013282
3,5.464959,-0.386188,0.426665,0.652682,3.566881,-0.252058,2.106772,0.013281
4,5.700862,-0.379498,0.423451,0.654783,3.732828,-0.248489,2.705025,0.012104
...,...,...,...,...,...,...,...,...
995,5.537791,-0.357388,0.422527,0.655389,3.629406,-0.234228,2.290502,0.008495
996,5.380141,-0.387667,0.430225,0.650363,3.499045,-0.252124,1.905752,0.013510
997,5.738974,-0.387213,0.425191,0.653645,3.751251,-0.253100,2.802539,0.013493
998,5.509192,-0.367876,0.420329,0.656830,3.618605,-0.241632,2.225844,0.010155
999,5.412894,-0.371311,0.420886,0.656465,3.553374,-0.243753,1.997947,0.010717

In [7]:
TF1_variability = (sum(df_all_iterations['Weight*(TF1 - xBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)


TF2_variability = (sum(df_all_iterations['Weight*(TF2 - yBARw)^2'])*1000/(1000*(1000-1)*sum(df_all_iterations['Weight'])) )**(0.5)

print(df_all_iterations['TF1'][MSEs.index(min(MSEs))], df_all_iterations['TF2'][MSEs.index(min(MSEs))])
print(round(TF1_variability,3), round(TF2_variability,3))

5.374159719619617 -0.3600828873851911
0.062 0.004